*{
    margin: 0%;
    padding: 0%;

}

.sidebar{
    position: relative;
    font-family: 'Spline Sans', sans-serif;
    background-color:whitesmoke;
    height: 25vh;
    /* width: 10wh; */
    transition: transform 1s ease-in;
    left: 1265px;
    /* right: -100px; */


}
.container
{
    display: flex;
    flex-direction: column;
}
.sidebar{
    
    margin-top: 40px;
    z-index: 1;
}
.sidebar nav{
    padding-right:20px;

}
.sidebar nav li{
    list-style: none;
    font-size: 17px;
    padding: 7px 0px;
}
 .sidebar nav ul li a{
    text-decoration: none;
    /* color: black; */
}
.hamburger{
    margin-top: 40px;
}
.serach{

    padding-left: 85rem;
    z-index: 0;
    margin-top: 10px;
}
.click{
    display: flex;
}
.icon{
    position:absolute;
    padding-left: 90rem;
    /* margin-top: px; */
    margin-top: 10px;
}
.sidebarGO{
    /* transform: translate(-500px,0px); */
    position: absolute;
}

.main{
    position: relative;
}
.upperlayer{
    background-color: green;
    /* background: fixed; */
    height: 150px;
    width: 106rem;
    z-index: 0.2;
    display: flex;
}
.heading{
    color:white;
    margin-top: -6rem;
    margin-bottom: 6rem;
    margin-left: 3rem;
}
.imghandle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chat{
    display: flex;
    /* justify-content:; */
    margin-left: 30px;
    margin-top: 30px;
    gap: 20px;
    
}
.chat:hover{
    background-color: #d3d3d3;
}
.chatname{
    font-size: 20px;
}
.chatmsg{
    color:grey;
}
.time{
    color:grey;
    /* margin-top: 20px; */
    
}
.header{
    margin-top:-3rem;
    display: flex;
    /* gap: 7rem; */
    color: white;
    justify-content: space-evenly;
    z-index: 1;
    
}
.status{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    gap: 20px;
    
}
.pstatus{
    color: gray;
    margin-left: 27px;
    margin-top: 15px;
}
.imgborder{
    border: 3px dashed lightgreen;
}
.camera{
    height: 30px;
    width: 30px;
}
.call{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    gap: 20px;
    
}
.callicon{
    margin-left: 70rem;
    color: rgb(15, 78, 15);
    font-size: 20px;
}
.green{
    color: rgb(4, 65, 4);
}
.red{
    color: red;
}
.chaticon{
    /* z-index: 1; */
    position:absolute;
    top:40rem ;
    left:80rem;
    font-size: 25px;
    background-color: rgb(7, 136, 7);
    color: white;
    border-radius: 50%;
    padding: 10px;
}
.statpen{
    background-color: gray;
    color: white;
    border-radius: 50%;
    position:absolute;
    top:38rem ;
    left:80rem;
    font-size: 18px;
    padding: 10px;
}
.statphn{
    border-radius: 50%;
    background-color: rgb(7, 136, 7);
    color: white;
    position:absolute;
    top:42rem ;
    left:80rem;
    font-size: 20px;
    padding: 10px;
}
.plusphone{
    position:relative;
    display: flex;
    flex-direction: column;
    top:30rem ;
    left:80rem;
    border-radius: 50%;


}
.plus{
    position: relative;
    font-size: 13px;
    left: 5px;

}
.callphn{
    position: relative;
    top: 0px;
    background-color: green;

}
@media(max-width:412px) {

    .container
    {
        max-width:45rem;
    }
    .icon{
        position:absolute;
        padding-left: 370px;
        /* margin-top: px; */
        margin-top: 10px;
    }
    sidebar{
        position: absolute;
        font-family: 'Spline Sans', sans-serif;
        background-color:whitesmoke;
        height: 25vh;
        /* width: 10wh; */
        transition: transform 1s ease-in;
        padding-left: 100px;
        /* right: -100px; */
    }
    
    .serach{
        position:absolute;
        padding-left:330px;
        height: 30px;
    }
    .main{
    position: relative;
    padding-left:10px ;

    }
    .upperlayer{
        background-color: green;
        /* background: fixed; */
        height: 120px;
        width: 27rem;
        z-index: 0.2;
        display: flex;
    }
    
    
}
